<div class="title">
  <% if @manufacturer.image.present? %>
    <h1><%= image_tag @manufacturer.image.variant(resize_to_limit:[100, 100]) %> <%= @manufacturer.manufacturer_name %></h1>
  <% else %>
    <h1><%= @manufacturer.manufacturer_name %></h1>
  <% end %>
</div>

<h2>Models:</h2>

<% @carModel.each do |c| %>
  <% if c.manufacturer_id == @manufacturer.id%>
    <p><%= link_to c.car_model_name, c %></p>
  <% end %>
<% end %>
