<h1><%= @manufacturer.manufacturer_name%></h1>

<h2>Models:</h2>

<% @carModel.each do |c| %>
  <% if c.manufacturer_id == @manufacturer.id%>
    <p><%= link_to c.car_model_name, c %></p>
  <% end %>
<% end %>
