<%# <div class="container mt-3 mb-3">
  <h2 class="fw-bold">About La Voiture</h2>
  <h4>Team Beleo's E-commerce Project</h4>
  <p>La Voiture Inc. is an established business in Winnipeg, Manitoba specializing in vehicle sales with a dedicated team of 30 employees. La Voiture Inc., has been a trusted community partner for the last 10 years through its physical stores. Now, the company is aiming to expand its reach and enhance customer experience by launching an online store. The website will allow customers to choose from the vehicle models, body type, fuel options, and color.</p>
</div>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">CSV Files</h5>
          <p class="card-text">We utilize CSV files to manage and organize data efficiently, ensuring accurate and seamless information handling for our e-commerce platform.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Web Scraper</h5>
          <p class="card-text">Our website employs web scraping to gather relevant data and provide up-to-date information for our users.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">API Integration</h5>
          <p class="card-text">We leverage various APIs to enhance our website functionality, providing seamless access to information.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Responsive Design</h5>
          <p class="card-text">Our website is designed for optimal user experience, ensuring a seamless journey for our diverse and engaged customer base.</p>
        </div>
      </div>
    </div>
  </div>
</div> %>