<h1><%= @carModel.car_model_name %></h1>

<% @manufacturer.each do |c| %>
  <% if c.id == @carModel.manufacturer_id%>
    <h3>Manufacturer: <%= link_to c.manufacturer_name, c %></h3>
  <% end %>
<% end %>
